section
  h1= title
  img.hat(src='img/six_hats.svg')
  h2 Skillshare, Sep 2019
section
  h2 Edward de Bono
  img.max(src='img/edwdeb.jpg')
  aside.notes
    | The inventor of the term "lateral thinking" in 1967. Created this methodology in 1985. 
    | The book is short and entertaining but Edward is a bit of a bighead.
section
  h2 The problem
  img.hat(src='img/argument.svg')
  aside.notes
    | De Bono reckons the main reason meetings take so long and have trouble with goals is that they typically take the form of an argument.
    | An argument is when two people in the room are thinking from opposing perspectives and trying to "win". Aka "debate".
section
  section
    h2 The solution
    img.hat(src='img/house_viewing.svg')
    aside.notes
      | The solution is to have everybody thinking in the same direction at the same time.
      | De Bono uses this analogy with viewing a house.
      | Thinking is divided into six broad categories represented by coloured hats.
      | At any point in the meeting everyone knows what coloured hat is being worn.
      | Similar to Thinking Environment, it allows everyone to do all the thinking they need to do but without ego and competition.
      | De Bono gives real examples, like an ABB meeting that went down from 30 days to 2.
      | Breaking your thinking into these categories can be useful for individual thinking, but if it's used in a meeting...
  section
    h2 Important!
    img.hat(src='img/same_time.svg')
    aside.notes
      | It's essential you don't have different people wearing different hats.
      | Doing so just labels the existing argument/conflict.
      | The key to Six Thinking Hats is everyone wearing the same hat at the same time.
      | Hats can be changed often, but everyone has to change.
section
  section
    h2 White hat
    img.hat(src='img/white_hat.svg')
    p Facts &amp; objectivity
    aside.notes
      | Facts can be first hand (verifiable) or second hand (likely, in which case their likeliness should be specified too).
      | Be careful not to use facts as a springboard for other types of thinking until the other hats.
      | You can use the white hat to fill gaps in knowledge that need filling for the other hats.
      | Analogy: a page.
  section
    h2 Red hat
    img.hat(src='img/red_hat.svg')
    p Emotions &amp; intuition
    aside.notes
      | Emotions &amp; hunches provide background, not answers. But many meetings try to suppress them entirely: here is a place for them.
      | Thinking like "that's a very interesting idea" count as red hat thinking.
      | Useful to interrupt the flow with a red hat if you have a strong feeling like "I don't like this".
      | Analogy: seeing red.
  section
    h2 Black hat
    img.hat(src='img/black_hat.svg')
    p Critical thinking &amp; risk assessment
    aside.notes
      | Perhaps the most important hat, but often overused. Critical thinking is good for looking for things you've missed.
      | <a href="https://www.informationisbeautiful.net/visualizations/rhetological-fallacies/" target="_blank">My favourite infographic!</a>
      | If critical thinking creates blockages, they can be unblocked by green.
      | Analogy: serious.
  section
    h2 Yellow hat
    img.hat(src='img/yellow_hat.svg')
    p Constructive thinking &amp; positivity
    aside.notes
      | Hope and positive thinking. What's the value/benefit of what we're discussing? What's the potential?
      | Constructive thinking. Try the idea out under various "if" assumptions and best case scenarios.
      | Not meant to be objective and balanced, only positive. Could be "nothing positive", which is also a yellow hat outcome.
      | Remember it's about thinking constructively about existing ideas, not generating new ones (green).
      | Analogy: sunny.
  section
    h2 Green hat
    img.hat(src='img/green_hat.svg')
    p Creative thinking &amp; possibilities
    aside.notes
      | Possibilities/alternatives. Anything goes. Don't criticise ideas during green. 
      | Lateral thinking - creates movement and unsticks things. The dictionary game.
      | Po! Explain this.
      | Constraint like this sometimes bestows creativity on people seen as "uncreative".
      | Ideas are just that - they need interrogating under the other hats.
      | Analogy: growth.
  section
    h2 Blue hat
    img.hat(src='img/blue_hat.svg')
    p Thinking about thinking: goals, conclusions, order
    aside.notes
      | The meeting itself: which hats to use, goals, conclusions, time management, next steps.
      | Used at the beginning and end, and when we need to think about the meeting.
      | Analogy: the sky.
  section
    h2 Some notes
    .flex
      img.hat(src='img/notes.svg')
      ul
        li.fragment Refer to hats by colour
        li.fragment It's a game; rules are fun
        li.fragment Anyone can suggest changing hats
      aside.notes
        | Makes sense for one person to keep the rules in order by partially wearing the blue hat throughout.
        | When hats change, everyone goes under the new hat. Could be temporary, e.g. for a red or blue hat moment.
section
  h2 Let's give it a go
  p Six Hats the venue for Skillshare
  img.hat(src='img/venue.svg')
  aside.notes
    | Everyone put on blue hats and let's go!
