section
  h1= title
  img.hat(src='img/six_hats.svg')
  h2 Skillshare, Sep 2019
section
  h2 Edward de Bono
  img.max(src='img/edwdeb.jpg')
  aside.notes
    | The inventor of the term "lateral thinking" in 1967. Created this methodology in 1985. 
    | The book is short and entertaining but Edward is a bit of a bighead.
section
  h2 The problem
  img.hat(src='img/argument.svg')
  aside.notes
    | De Bono reckons the main reason meetings take so long and have trouble with goals is that they typically take the form of an argument.
    | An argument is when two people in the room are thinking from opposing perspectives and trying to "win".
section
  section
    h2 The solution
    img.hat(src='img/house_viewing.svg')
  section
    h2 Important!
    img.hat(src='img/same_time.svg')
section
  section
    h2 White hat
    img.hat(src='img/white_hat.svg')
    p Facts &amp; objectivity
  section
    h2 Red hat
    img.hat(src='img/red_hat.svg')
    p Emotions &amp; intuition
  section
    h2 Black hat
    img.hat(src='img/black_hat.svg')
    p Critical thinking &amp; risk assessment
  section
    h2 Yellow hat
    img.hat(src='img/yellow_hat.svg')
    p Constructive thinking &amp; positivity
  section
    h2 Green hat
    img.hat(src='img/green_hat.svg')
    p Creative thinking &amp; possibilities
  section
    h2 Blue hat
    img.hat(src='img/blue_hat.svg')
    p Thinking about thinking: goals, conclusions, order
  section
    h2 Some notes
    .flex
      img.hat(src='img/notes.svg')
      ul
        li.fragment Refer to hats by colour
        li.fragment It's a game; rules are fun
        li.fragment Anyone can suggest changing hats
section
  h2 Let's give it a go
  p Six Hats the venue for Skillshare
  img.hat(src='img/venue.svg')
