.reveal {
  img.max {
    max-height: 500px;
  }
  img.hat {
    background: none;
    border: none;
    box-shadow: none;
    height: 350px;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    > * {
      margin: 0 40px;
    }
  }
}
